networks:
  nmenet:
volumes:
  lagrange:
  nmeboot:
  swap:
  sql-playground:
  db:
services:
  lagrange:
    image: ghcr.io/lagrangedev/lagrange.onebot:edge
    container_name: Lagrange.OneBot
    volumes:
      - lagrange:/app/data
      - swap:/swap
    networks:
      - nmenet
    restart: always
    tty: true
  scripting:
    build: scripting
    container_name: NMEBoot2.Scripting
    volumes:
      - nmeboot-scripting:/app
      - swap:/swap
    networks:
      - nmenet
    restart: always
    tty: true
    stdin_open: false
  sql-playground:
    build: sql-playground
    container_name: NMEBoot2.SQLPlayground
    networks:
      - nmenet
    restart: always
    environment:
      POSTGRES_PASSWORD: CHANGE_ME
    volumes:
      - sql-playground:/var/lib/postgresql
  db:
    image: postgres:latest
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: CHANGE_ME
      POSTGRES_DB: nmeboot
    networks:
      - nmenet
    volumes:
      - db:/var/lib/postgresql
    ports:
      - "5433:5432"
  adminer:
    image: adminer
    restart: always
    networks:
      - nmenet
    ports:
      - "8099:8080"
  nmeboot:
    depends_on:
      - lagrange
      - scripting
      - sql-playground
      - db
    build: core
    container_name: NMEBoot2
    volumes:
      - nmeboot:/app
      - swap:/swap
    networks:
      - nmenet
    restart: unless-stopped
    tty: true
    stdin_open: true