networks:
  nmenet:
volumes:
  lagrange:
  nmeboot:
  swap:
  sql-playground:
services:
  lagrange:
    image: ghcr.io/lagrangedev/lagrange.onebot:edge
    container_name: Lagrange.OneBot
    volumes:
      - lagrange:/app/data
      - swap:/swap
    networks:
      - nmenet
    restart: always
    tty: true
  scripting:
    build: scripting
    container_name: NMEBoot2.Scripting
    volumes:
      - nmeboot-scripting:/app
      - swap:/swap
    networks:
      - nmenet
    restart: always
    tty: true
    stdin_open: false
  sql-playground:
    build: sql-playground
    container_name: NMEBoot2.SQLPlayground
    networks:
      - nmenet
    restart: always
    environment:
      POSTGRES_PASSWORD: CHANGE_ME
    volumes:
      - sql-playground:/var/lib/postgresql
  nmeboot:
    depends_on:
      - lagrange
      - scripting
      - sql-playground
    build: core
    container_name: NMEBoot2
    volumes:
      - nmeboot:/app
      - swap:/swap
    networks:
      - nmenet
    restart: unless-stopped
    tty: true
    stdin_open: true